<div class="carouselbox">
	<div class="buttons">
		<button class="prev">
			◀
			<span class="offscreen">Previous</span>
		</button>
		<button class="next">
			<span class="offscreen">Next</span> ▶
		</button>
	</div>
	<ol class="content">
	</ol>
</div>
